include _macro/macro.pug
doctype html
html(lang=config.language, manifest='/mono.appcache')
  head
    include _partial/head.pug
  body
    header
      include _partial/header.pug
    block content
    footer
      include _partial/footer.pug
