include _macro/item
doctype html
html(lang=config.language)
  head
    include _partial/head
  body
    header
      include _partial/header
    block content
    footer
      include _partial/footer
