include _macro/item.pug
doctype html
html(lang=config.language, manifest='/mono.appcache')
  head
    include _partial/head.pug
  body
    block content
    header
      include _partial/header.pug
    footer
      include _partial/footer.pug
