extends _base.pug

block content
  article
    each post in page.posts.toArray()
      if year != post.date.year()
        - year = post.date.year()
        nav #{__('postat')} - #{year}
      +item(post)
