main
  display block
  max-width 42rem
  margin 0 auto
  padding 2.5625rem 1rem 0
  line-height 1.75rem
  p
    font-size 1.25rem
    font-weight 700
    margin 1.75rem 0 0
    a
      float right
      display block
    a + a:after
      content '·'
      margin 0 .125rem
      color rgba(0, 0, 0, .87)
      text-shadow 0 1px 1px rgba(0, 0, 0, .1)
section
  margin .875rem 0 0
  max-height 1.75rem
  overflow hidden
  a
    height 1.75rem
    display block
  h2
    font-size 1.25rem
    font-weight 400
    max-width 100%
    white-space nowrap
    text-overflow ellipsis
    overflow hidden
    display inline-block
    margin 0
    &:before
      margin-right .25em
      content '#'
  time
    font-size 1.25rem
    float right
