@require '_partial/body'
@require '_partial/header'
@require '_partial/main'
@require '_partial/article'
@require '_partial/footer'
@media screen and (max-width: 32rem)
  header
    nav
      display none
  main
    time
      display none
