body
  background-color rgba(0,0,0,0)
  color rgba(0,0,0,.87)
  font-family "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Source Han Sans CN", "Source Han Sans SC", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif
  font-size 16px
  line-height 1
  margin 0
  text-shadow 0 1px 1px rgba(0,0,0,.1)
  text-rendering optimizelegibility
  a
    text-decoration none
    color inherit
    transition all .25s cubic-bezier(.55,0,.1,1)
    &:hover
      color rgba(50,120,255,.8)
      text-shadow 0 0 2px rgba(50,120,255,.8)
::selection
  color rgba(250,0,0,.9)
  background-color transparent
