@require '_partial/body'
@require '_partial/header'
@require '_partial/index'
@require '_partial/article'
@require '_partial/footer'
@media screen and (max-width: 672px)
  header
    nav
      display none
  main
    time
      display none
  article
    padding 42px 16px 27px
